@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: "Poppins", "Noto Sans TC", sans-serif;
    letter-spacing:1.3px;
}
body{
    margin:0;
    padding:0;
}
div {
    word-wrap: break-word;
}
.sign{
    height: 100%;
    background-color:#bf9d7e;
    display: flex;
	align-items: center;
	justify-content: center;
    padding:70px 0;
    display:none;
}
.entireContainer{
    height: 800px;
    width:1200px;
    background-color:#e9dacb;
    border-radius: 15px;
}
.projectName{
    height:70px;
    width:90%;
    font-size:70px;
    font-weight:700;
    color: #922c21;
    line-height:70px;
    text-align: center;
    margin:40px auto;
    font-family: "Poppins";
    text-shadow: -1px -1px 0 #bf9d7e, 1px -1px 0 #bf9d7e,-1px 1px 0 #bf9d7e, 1px 1px 0 #bf9d7e,2px 2px 2px black;
    letter-spacing:3px;
}
.mainFrame{
    height:600px;
    width:90%;
    display:flex;
    align-items: center;
	justify-content: center;
    margin:auto;
    box-shadow: 10px 10px 20px #9f6a47;
    border-radius:15px;
    position:relative;
}
.signFrame{
    height:100%;
    width:650px;
    border-radius: 15px 0px 0px 15px;
    margin:0px 20px;
}
.signinSection,.signupSection{
    width: 70%;
    height:auto;
    margin: auto;
}
.signupSection{
    display:none;
}
.welcomeIcon, .helloIcon{
    flex:none;
    width: 250px;
    height: 200px;
    cursor: pointer;
}
.helloIcon{
    margin: 40px auto 30px;
}
.welcomeIcon{
    margin: 15px auto;
}
.welcomeIcon img, .helloIcon img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.signinEmail, .signinPassword, .signupName, .signupEmail{
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height:47px;
    color: #7f5539;
    margin-bottom: 20px;
    outline: none;
    padding-left:55px ;
    padding-right:20px;
    /*input icon*/
    background-position: 20px center;
    background-repeat: no-repeat;
}
.signupPassword{
    width: 100%;
    height: 47px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height:47px;
    color: #7f5539;
    outline: none;
    padding-left:55px ;
    padding-right:20px;
    /*input icon*/
    background-position: 20px center;
    background-repeat: no-repeat;
}
::placeholder{
    font-size: 14px; 
    letter-spacing:0.5px;
}
.signinEmail,.signupEmail{
    background-image: url("/Images/gmail.png");
}
.signinPassword, .signupPassword{
    background-image: url("/Images/password.png");
}
.signupName{
    background-image: url("/Images/user.png");
}
.passwordNotice{
    font-weight: 700;
    font-size: 14px;
    color:#ee3d37;
    height:20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.signinButton, .signupButton{
    border:0;
    width: 100%;
    height: 47px;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.signinButton{
    background: linear-gradient(45deg,#f8c799, #bb8654, #9f6a47);
}
.signupButton{
    background: linear-gradient(45deg, #bf9d7e, #bf7e78, #922c21);
}
.googleSign{
    width: 100%;
    height: 47px;
    background:linear-gradient(45deg, #bf9d7e, #bf7e78, #922c21);
    color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.signinButton:hover{
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(225deg, #f8c799, #bb8654, #9f6a47);
}
.signupButton:hover, .googleSign:hover{
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(225deg, #bf9d7e, #bf7e78, #922c21);
}
.googleSignImg{
    width: 36px;
    height: 36px;
}
.googleSignImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.googleSignText{
    height: 47px;
    line-height: 47px;
    font-size: 17px;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
.signinResult, .signupResult{
    width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1.3px; 
}
.changeToSignup, .changeToSignin{
    width: 100%;
    height: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #7f5539; 
    padding-bottom: 10px;
}
.changeToSignup:hover, .changeToSignin:hover{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
.sloganFrame,.sloganRWD{
    height:100%;
    width:450px;
    background-color:#bf9d7e;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sloganFrame{
    position: relative;
}
.sloganRWD{
    display:none;
}
.slogan{
    height:auto;
    width:100%;
}
.sloganText,.sloganTextMobile{
    width: 100%;
    font-weight:700;
    color: #922c21;
    text-align: center;
    font-family: "Poppins";
    text-shadow: -1px -1px 0 #bf9d7e, 1px -1px 0 #bf9d7e,-1px 1px 0 #bf9d7e, 1px 1px 0 #bf9d7e,2px 2px 2px black;
    letter-spacing:3px;
}
.sloganText{
    height:50px;
    font-size:46px;
    line-height:50px;
    margin:30px auto;
}
.changeToIntroductionButton{
    background:linear-gradient(45deg, #ec5c30,#bf9d7e, #e48269, #bf7e78, #c23d2f);
    box-sizing: border-box;
    padding: 8px 5px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    width: 100%;
    font-weight:500;
    text-shadow: -1px -1px 0 #bf9d7e, 1px -1px 0 #bf9d7e,-1px 1px 0 #bf9d7e, 1px 1px 0 #bf9d7e,2px 2px 2px black;
}
.changeToIntroductionButton:hover{
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(225deg, #ec5c30,#bf9d7e, #e48269, #bf7e78, #c23d2f);
}
.changeToIntroductionButton:active{
    transform:translateZ(2px);
}
.sloganTextMobile{
    height:40px;
    background-color:#bf9d7e;
    display:none;
    font-size:24px;
    color: #922c21;
    line-height:40px;
    text-align: center;
    margin:auto;
    position:absolute;
    bottom:0px;
    border-radius: 0px 0px 15px 15px;
}
.introductionFrameColor{
    width:100%;
    background:#e6dacd;
    position: sticky;
    top:0px;
    z-index:5;
    border-bottom: 0.5px solid #d16960;
    box-shadow: 10px 10px 20px #bf9d7e;
}
.introductionFrame{
    display:flex;
    width:1200px;
    height:90px;
    margin:auto;
    background:#e6dacd;
    align-items: center;
}
.introductionFrameTitle{
    width:300px;
    height:40px;
    font-size:38px;
    font-weight:700;
    color: #922c21;
    text-align:center;
    line-height:40px;
    margin-right:auto;
    text-shadow: -1px -1px 0 #bf9d7e, 1px -1px 0 #bf9d7e,-1px 1px 0 #bf9d7e, 1px 1px 0 #bf9d7e,2px 2px 2px black;
}
.login{
    height:40px;
    color: #6c0807;
    font-weight:600;
    font-size: 24px;
    text-align: center;
    line-height:40px;
    display: flex;
    align-items: center;
    padding: 5px 7px;
    cursor: pointer;
}
.loginIcon{
    width: 40px;
    height: 40px;
    margin-right:10px;
}
.loginIcon img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
}
.login:hover{
    transform: scale(1.05);
    text-shadow: -1px -1px 0 #efc59e, 1px -1px 0 #efc59e,-1px 1px 0 #efc59e, 1px 1px 0 #efc59e,2px 2px 2px #d9ae87;
}
.login:active{
    transform: translateZ(2px);
}
/*introductionPage*/
.introductionMainFrame{
    width:100%;
    background:#e6dacd;
}
.introductionMain{
    width: 100%;
    height: auto;
}
.introductionTextFrame{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    margin: 0px auto 300px;
}
.introductionTextBackground{
    width:100%;
    height: 300px;
    background-image: url("/Images/meal.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 20%;
    opacity: 0.15;
    position: absolute;
}
.introductionSlogan{
    letter-spacing: 3px;
    width: 1200px;
    padding: auto;
    font-size:34px;
    font-weight:700;
    text-align: center;
    color: #922c21;
    position: absolute;
    z-index: 3;
    top: 120px;
    left: 65%;
    transform: translateX(-65%);
}
.mealIntakePhotoFrame, .dailyIntakeTargetPhotoFrame, .addOwnFoodPhotoFrame, .socialMediaPhotoFrame{
    width: 100%;
    height:auto;
}
.mealIntakePhotoFrame, .dailyIntakeTargetPhotoFrame{
    background: #e2ccbe;
}
.addOwnFoodPhotoFrame, .socialMediaPhotoFrame{
    background: #e6dacd;
}
.photoBlock{
    width:1150px;
    margin: auto;
    padding: 55px 20px;
    display: flex;
    justify-content: center;
}
.leftGif{
    width:700px;
    height: 500px;
    margin-right: 40px;
}
.rightGif{
    width:700px;
    height: 500px;
    margin-left: 40px;
}
.leftGif img, .rightGif img{
    width:auto;
    height:auto;
    max-width: 700px;
    max-height: 500px;
    object-fit: contain;
    border-radius: 15px;
}
.leftGif img{
    box-shadow: -10px 10px 30px 10px #f4b891;
}
.rightGif img{
    box-shadow: 10px 10px 30px 10px #f4b891;
}
.text{
    letter-spacing: 2px;
    padding-top: 20px;
}
.titleText{
    font-weight:700;
    color: #922c21;
    font-size: 28px;
    text-shadow: -1px -1px 0 #d59b8f, 1px -1px 0 #d59b8f,-1px 1px 0 #d59b8f, 1px 1px 0 #d59b8f,2px 2px 2px #d98170;
    line-height: 50px;
}
.contentText{
    font-size: 22px;
    line-height: 40px;
}
.dataSource{
    margin-top: 50px;
    font-size: 14px;
    line-height: 15px;
}

@media (max-width:1230px){
    .entireContainer{
        width:95%;
    }
}
@media (max-width:1155px) {
    .signFrame{
        width:60%
    }
    .signinEmail, .signinPassword, .signupName, .signupEmail, .signupPassword{
        font-size: 14px;
    }
    .signinSection,.signupSection{
        width: 90%;
    }
}
@media (max-width:960px) {
    .sloganText{
        font-size: 44px;
    }
}
@media (max-width:880px) {
    .sloganFrame{
        display:none;
    }
    .sloganRWD{
        display:flex;
        width:50%;
    }
}
@media (max-width:775px) {
    .mainFrame{
        display:block
    }
    .signFrame{
        width:80%;
        height:90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
    }
    .sloganRWD{
        width:100%;
        height:auto;
    }
    .sloganRWD{
        display:none;
    }
    .sloganTextMobile{
        display:block;
    }
    .projectName{
        font-size:58px; 
    }
}
@media (max-width:500px) {
    .signFrame{
        width:90%
    }
    .sloganTextMobile{
        font-size:20px;
    }
    .projectName{
        width:100%;
        font-size:50px; 
    }
    .signinEmail,.signupEmail,.signinPassword, .signupPassword,.signupName{
        background-position: 10px center;
        padding-left:45px;
        padding-right: 10px;
    }
}
@media (max-width:425px) {
    .sloganTextMobile{
        font-size:18px;
    }
    .projectName{
        font-size:44px; 
    }
    .signinEmail,.signupEmail,.signinPassword, .signupPassword,.signupName{
        letter-spacing: normal;
    }
}