<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/CSS/base.css">
</head>
<body>
    <div class="footer" th:fragment="foot">
        <div class="footerText">
            <div>COPYRIGHT © 2024 YummyFit</div>
            <div>·</div>
            <div class="githubText">
                Created by PeiYing
                <a href="https://github.com/PeiYingr/YummyFit_Java-SpringBoot" target="_blank"><div class="githubImg"><img src="/Images/github.png"/></div></a>
            </div>
        </div>
    </div>
</body>
</html>