<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/CSS/base.css">
    </head>
    <body>
        <div class="noticeWindow" th:fragment="first">        
            <div class="noticeSection">
                <div class="decoratorBar"></div>
                <div class="closeIcon"><img src="/Images/icon_close.png"/></div>
                <div class="noticeMain"></div>
            </div>
        </div>
        <div class="frameColor" th:fragment="second">
            <div class="frame">
                <div class="title">· YummyFit ·</div>
                <!-- <div class="socialMedia"><div class="socialMediaIcon"><img src="/Images/community.png"/></div>Yummyground</div> -->
                <div class="diary"><div class="diaryIcon"><img src="/Images/diary.png"/></div>Food Record</div>
                <div class="memberCenter"><div class="userIcon"><img src="/Images/user.png"/></div>Member</div>
                <div class="memberCenterFrame">
                    <div class="memberCenterBlock">
                        <div class="memberInfo">Profile</div>
                        <div class="signoutText">Log out</div>
                    </div>                    
                </div>           
            </div>
        </div>
        <script src="/JS/base.js"></script>
    </body>
</html>